<footer id="footer">
    
		
    <div class="footer">

        <h2>
            Contactez nous
        </h2>

        <h3>ajandbrothers@gmail.com</h3>


         <a name="twitter" href=""><img src="assets/img/twitter.png" alt="twitter" style="width: 50px; height: 50px;"></a>
         <a name="facebook" href="https://www.facebook.com/AjandBrothers/"><img src="assets/img/facebook.png" alt="facebook" style="width: 50px; height: 50px;"></a>
         <a name="instagram" href="https://www.instagram.com/aj_and_brothers/"><img src="assets/img/instagram.png" alt="instagram" style="width: 50px; height: 50px;"></a>
         <a name="linkedin" href=""><img src="assets/img/linkedin.png" alt="linkedin" style="width: 50px; height: 50px;"></a>
        
    </div>


</footer>




</div>

</body>
</html>