<!DOCTYPE html>
<html lang=fr>
<head>
<meta charset="utf-8">	
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="title" content="Aj&Brothers">
<meta name="description" content="«AJ&Brothers » propose de vous assister dans cette nouvelle expérience. En effet, nous avons conscience que l’anglais est un outil de travail de plus en plus important dans le monde actuel. C’est pourquoi nous vous accompagnerons d'une part dans l'obtention d'une préinscription en école de langue, d'autre part lors de votre installation au sein de votre future ville d'accueil. Vous bénéficierez de toutes les informations nécessaires pour faciliter votre intégration aux États Unis.">
<meta name="keywords" content="AJ&Brothers,  États, Unis, préinscription, école, de, langue">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="French">
<meta name="revisit-after" content="30 days">
<meta name="author" content="Sidi Diaby">
<link rel="shortcut icon" href="/assets/img/aj_carte_icon.png"/> 
<title> Aj&bro</title>


