
<%-include('partials/header.ejs')%>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
<link rel="preload" as="style" href="/assets/css/home.css" async>
<link rel="preload" as="style" href="/assets/css/footer.css" async>
<link rel="preload"  href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" as="style" async>
<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet" async>
<link rel="preload" as="image" href="assets/img/img-beauty-min.jpg" async>
<link rel="preload" as="image" href="assets/img/aj-carte-min.jpg" async>
<!-- <link rel="preconnect"  href="https://www.gstatic.com" async/>
<link rel="preconnect"  href="https://yt3.ggpht.com" async/>
<link rel="preconnect"  href="https://i.ytimg.com" async/> -->
<link rel="stylesheet" type="text/css" href="/assets/css/home.css"async>
<link rel="stylesheet" href="/assets/css/footer.css" async>
<script src="https://www.google.com/recaptcha/api.js?render=6Lcli9YUAAAAAO2Z7SZrsFBo3_hzSgKKY-PF26yH" async></script>

</head>
<body>




    <header class="fixed">
		
        <h2>
            <a href="#welcome">Aj&Brothers</a>
        </h2>
        <nav>
            <ul>
                <li><a name='about' href="#about">A propos</a></li>
                <li><a name='servives' href="#services">Nos services</a></li>
                <li><a name='temoignage' href="#Temoignage">Les temoignages</a></li>
                <li><a name='gallery' href="#media">Gallerie</a></li>
                <li><a name='contact' href="#contact">Nous contacter</a></li>
            </ul>
           
            
        </nav>
    
    </header>



<section id="welcome" 
style="background-image: url('assets/img/img-beauty-min.jpg'); 
            background-size: cover;
            background-position: top center">


    <div id="intro-message">
        
            <h1>Aj & Brothers</h1>
            <h3>A better orientation for a better success</h3>

    <div id="welcome-btn-container">
        <a href="#about" class="button">En savoir plus</a>
        <a href="#contact" class="button">Nous contacter</a>
    </div>

           
    </div>		
    

</section>

<div class="container-global">
    <div class="section-container">

        <section id="about">


    
            
        
                <div class="title">
                    <h1> A propos</h1>
        
                    <div class="square"></div>
        
                </div>
        
                
        
                <div class="content">
                    
        
                        <img src='/assets/img/aj-carte-min.jpg' alt="menu-image">
        
                        <div class="paragraph">
                            <p> 
                                Nelson Mandela disait « L’éducation est l’arme la plus puissante pour changer le
                                monde.» Obtenir son BAC est un grand soulagement pour tout jeune qui clôture ses années de
                                lycée. Le nouveau bachelier se pose alors des questions fondamentales telles que : “A quoi
                                ressemblera ma vie d’étudiant ? Que ferais-je comme études ? Dans quelle école devrais-je
                                m'inscrire ? 
                            </p>
        
                            <p>
                        
                                Vous allez être étudiant, et vous vous posez les questions précédentes ? Vous désirez
                                développer votre maîtrise de la langue anglaise en vous insérant dans la communauté anglophone ?
                                Nous avons la solution qui répondra à vos questions et vous aidera à réaliser vos projets. Créé le
                                15/08/2015, « AJ&Brothers » propose de vous assister dans cette nouvelle expérience. En effet,
                                nous avons conscience que l’anglais est un outil de travail de plus en plus important dans le monde
                                actuel. C’est pourquoi nous vous accompagnerons d'une part dans l'obtention d'une préinscription
                                en école de langue, d'autre part lors de votre installation au sein de votre future ville d'accueil.
                                Vous bénéficierez de toutes les informations nécessaires pour faciliter votre intégration aux États
                                Unis.
        
                            </p>	
                            
                            <p>Akim Junior</p>
        
                        </div>
                        
                        
                </div>	
                <div class="about-youtube">
                    <div id="https://www.youtube.com/embed/pWtbHsnDUh4?autoplay=1" class="iframe" 
                    style="background-image: url('assets/img/thumb6.jpg')">
                    <img src="/assets/img/ytb-btn.png" alt="youtube-button" style="height:75px; width:75px"></div>

                    <div id="https://www.youtube.com/embed/YxyAKqUYl2g?autoplay=1" class="iframe" 
                    style="background-image: url('assets/img/thumb7.jpg')">
                    <img src="/assets/img/ytb-btn.png" alt="youtube-button" style="height:75px; width:75px">></div>

                        
                    <!-- <iframe title="intro" width="340" height="300" src="https://www.youtube.com/embed/pWtbHsnDUh4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->

                    <!-- <iframe title="intro2" width="340" height="300" src="https://www.youtube.com/embed/YxyAKqUYl2g" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
                </div>
        
        </section>
        
        
        <section id="services"> 
        
                
                
                <div class="title">
                    <h1>Services</h1>
                    <div class="square"> </div>
                </div>
            
        
                <div class="services">
                
                    <div class="service"> 
                        <h3> Preinscription</h3>
        
                        <p>
                            <ul> 
                                <li>Nous collectons les documents nécessaires pour la demande de préinscription en école de langues.</li>
                                <li>Nous déposons vos dossiers complets de demande de préinscription auprès de l’école de langue.</li>
                                <li>Votre lettre d’admission est prête sous 7 jours ouvrables maximum, vous la recevrez ensuite dans votre pays de résidence.</li>
                            </ul>		
                        </p>
        
                    </div>
                
                    <div class="service"> 
                        <h3> Accueil </h3>
        
                        <p> 
                            <ul> 
                                
                                <li> Un membre de notre équipe vous accueillera dès votre arrivée à l’aéroport. Celui-ci vous conduira jusqu’à votre domicile.</li>
                            </ul>	
                        </p>
        
                    </div>
        
                    <div class="service"> 
                        <h3>Logement</h3>
        
                        <p> 
                            <ul> 
                                
                                <li>Vous souhaitez un logement paisible et/ou proche de votre école, nous sommes là pour vous.</li>
                                <li>Nous vous proposons notre expérience et nos compétences pour vous aider dans vos recherches de logement.</li>
                            </ul>	
        
                        </p>
                    
                    </div>
                 
                    <div class="service"> 
                        <h3>Sport</h3>
        
                        <p> 
                            <ul> 							
                                <li> A tous les Basketteurs et Basketteuses, nous négocions pour vous des bourses sportives. Pour cela, envoyez vos vidéos à ajandbrothers@gmail.com.</li>
                            </ul>	
                        </p>
        
                    </div>
                
                    <div>
                        <div id="https://www.youtube.com/embed/VvzhRUkrs2k?autoplay=1" class="iframe iframe-big" style="background-image: url('assets/img/coach-thumbnail.jpg');">
                            <img src="/assets/img/ytb-btn.png" alt="youtube-button" style="height:75px; width:75px"></div>
                        <!-- <iframe title="temoignage-basket"class="basket" width="560" height="315" src="https://www.youtube.com/embed/VvzhRUkrs2k" 
                            frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
                    </div>
                    
                
                </div>       
        
        
        
        
        
        
        </section>

       
        
        
        <section id="Temoignage">
        
    
        
            
        
                <div class="title">
                        <h1>Temoignages</h1>
        
                        <div class="square"></div>
                </div>
        
        
                <div class="Temoignages">
                        
                    <div class="temoignage-group">
                        <div id="https://www.youtube.com/embed/5WjDEZgAcrk?autoplay=1" class="iframe iframe-big" 
                        style="background-image: url('assets/img/thumb1.jpg')">
                            <img src="/assets/img/ytb-btn.png" alt="youtube-button" style="height:75px; width:75px"></div>
                        <!-- <iframe title="temoignage-rama" class='tem-video' width="560" height="315" src="https://www.youtube.com/embed/5WjDEZgAcrk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
                       
                        <p> Temoignages de Rama et Sarah </p>
                            
                    </div>
        
                    <div class="temoignages-inde">

                        <div class="temoignage">
                            <div id="https://www.youtube.com/embed/55xWqKdKTyA?autoplay=1" class="iframe" 
                            style="background-image: url('assets/img/arrive.jpg')">
                             <img src="/assets/img/ytb-btn.png" alt="youtube-button" style="height:75px; width:75px"></div>
                            <!-- <iframe title="temoignage-katia"class='tem-video' width="315" height="300" src="https://www.youtube.com/embed/JZOLUcbYHFw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
        
                            <p>Arrivee pour la Session de Janvier 2020</p>
                    
                    </div>
        
                        <div class="temoignage">
                                        <div id="https://www.youtube.com/embed/JZOLUcbYHFw?autoplay=1" class="iframe" 
                                style="background-image: url('assets/img/thumb2.jpg')">
                                <img src="/assets/img/ytb-btn.png" alt="youtube-button" style="height:75px; width:75px"></div>
                                        <!-- <iframe title="temoignage-katia"class='tem-video' width="315" height="300" src="https://www.youtube.com/embed/JZOLUcbYHFw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
                    
                                        <p>Temoignage de Katiana </p>
                                
                        </div>
        
                        <div class="temoignage">
                            <div id="https://www.youtube.com/embed/4IGFHGJCQP0?autoplay=1" class="iframe" 
                    style="background-image: url('assets/img/thumb3.jpg')">
                    <img src="/assets/img/ytb-btn.png" alt="youtube-button" style="height:75px; width:75px"></div>
                            <!-- <iframe title="temoignage-naomie" class='tem-video' width="315" height="300" src="https://www.youtube.com/embed/4IGFHGJCQP0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
                            <p>Temoignage de Naomie</p>
                                
                        </div>
        
                        <div class="temoignage">
                            <div id="https://www.youtube.com/embed/wE9A5MhzFdI?autoplay=1" class="iframe" 
                    style="background-image: url('assets/img/thumb4.jpg')">
                    <img src="/assets/img/ytb-btn.png" alt="youtube-button" style="height:75px; width:75px"></div>
                            <!-- <iframe title="temoignage-dani"class='tem-video ' width="315" height="300" src="https://www.youtube.com/embed/wE9A5MhzFdI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
        
                            <p>Temoignage de Daniel</p>
                                
                        </div>
        
                        
        
                        <div class="temoignage">
                            <div id="https://www.youtube.com/embed/VF12-5Pp4Rc?autoplay=1" class="iframe" 
                    style="background-image: url('assets/img/thumb5.jpg')">
                    <img src="/assets/img/ytb-btn.png" alt="youtube-button" style="height:75px; width:75px"></div>
                            <!-- <iframe title="temoignage-raft" class='tem-video' width="315" height="300" src="https://www.youtube.com/embed/VF12-5Pp4Rc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
                        <p>Temoignage de Rafath et Ayouba</p>
                                
                        </div>
                    </div>
        
                </div>
        
         
            
        
        </section>
        
        
        <section id="media">
        
            
        
        
                <div class="title">
                    <h1>gallerie</h1>
                    <div class="square"> </div>        
                </div>
        
        
                <div class="photo"> 
        
        
                    <div class="feature">
                        <figure class="featured-item image-holder" aria-label="gallery-photo"></figure>
                    </div>
                
                    <div class="controls">
                        <button id=left class="move-btn">&larr;</button>
                        <button id=right class="move-btn">&rarr;</button>
                    </div>
                
        
                </div>
        
        </section>
        
        

        <section id="contact">

            <div class="title">
                <h1>Nous Contacter</h1>
                <div class="square"> </div>    
            </div>   
            


            <form id='contact-form' action="/contact" method="POST" >

                    <div id="contact-info">
                        <label for='name'>Nom: <input name="name" type="text" placeholder="Nom et Prenom" required></label>

                        <label for="email">Email: <input name="email" type="email" placeholder="Email"required></label>
                      
                    </div>
                    <label for='subject'>Sujet: <input name="subject" type="text" placeholder="subject"required></label>

                   
                        <label for="message"><textarea name='message' placeholder="Votre message.."required></textarea></label>
                             
                    

                    <button class="button">Envoyer</button>
                
            </form>

        </section>
        <section id="aside" class="">
            <a href="/apply"><img src='assets/img/double_arrow-24px.svg' alt="arrow-image" style="transform: rotate(180deg);"> <br> Clickez ici pour commencer votre application!<br><img src='assets/img/double_arrow-24px.svg' alt="arrow-image"> </a> 
                  
        </section> 
        </div>
    </div>

    

    <script async>
    
    document.getElementById('contact-form').addEventListener('submit', handleForm);
    

    function handleForm(e){

        e.preventDefault();

    
        
          grecaptcha.execute('6Lcli9YUAAAAAO2Z7SZrsFBo3_hzSgKKY-PF26yH', {action: 'homepage'}).then(function(token) {

            const inputs = document.querySelectorAll('input');

            const name = inputs[0].value;
            const email = inputs[1].value;
            const subject = inputs[2].value;
            const text = document.querySelector('textarea').value;
            const capcha = token;

           const button= document.querySelector('button');
           
            button.disabled =true;

            fetch('/contact',{

                method: 'post',
                headers :{
                    'Accept': 'application/json, text/plain, */*',
                    'Content-Type': 'application/json',
                },
                
                 body: JSON.stringify({
                    name:name, 
                    email:email,
                    subject: subject,
                    message: text,
                    capcha: capcha })


            }).then(res => (res.json())).then(data =>{ alert("msg: " + data.msg+"!!" )
                                                    
                    if(data.success){

                    inputs[0].value ='';
                    inputs[1].value='';
                    inputs[2].value='';
                    document.querySelector('textarea').value='';
                    
                    }
                 button.disabled= false;
                })


        });

        
    }

    
</script>

<script type="text/javascript" src="assets/js/main-min.js" ></script>
      


<%-include('partials/footer.ejs')%>

