
<%-include('./partials/header') %> 


<link rel="stylesheet" type="text/css" href="/assets/css/success.css">
<link rel="stylesheet" type="text/css" href="/assets/css/footer.css">
 <head>
<body>

<div class="success-container">

    <img src="/assets/img/imgd-min.jpg" alt="aj-success-img">

        <h1>Votre application a été envoyée avec succès!!</h1>
    <p>Nous vous contacterons dans un delai de deux jours ouvrables afin de
        procéder à la suite de l’application. </p>
    <div>
        <a href="/" class="button">Accueil</a>
        <a href="/apply"class='button'>Nouvelle application</a>
    </div>
        

</div>
<%-include('./partials/footer') %> 