

<!DOCTYPE html>

<html charset= "UTF-8">

    <head>
        <title>
            Email de ajandbrothers.com 
        </title>
    </head>

    <style>
        p{ text-align: center;} 
    </style>
    <body>

            <h1>Vous avez recu un email sur ajandbrothers.com</h1>

            <p>Nom de l'envoyeur: {{Email.SenderName}} </p>
            <p>Email de l'envoyeur: {{Email.SenderEmail}} </p>

            <p>Sujet: {{Email.Subject}} </p>
            
            <p>Contenu de l'email: </p>

            <p>{{Email.Content}} </p>


        
    </body>

</html>